<div class="banner">
  <div class="container">
    <div class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="text-center content">
            <h2>MARUT</h2>
            <hr/>
            <h3>Ferestre și uși</h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center content">
            <h2>MARUT</h2>
            <hr/>
            <h3>Un pas în plus către visul tău!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
