.banner {
  background-image: url(banner.png);
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 7rem;
  .carousel {
      width: 100%;
      padding: 3rem 3rem;
      h2 {
          font-size: clamp(3rem, 10vw, 6rem);
          color:var(--clr-accent-2);
          font-weight: bold;
          padding-top: 2rem;
          line-height: 1;
      }
      h3 {
          font-size: clamp(1rem, 4vw, 2.5rem);
          color:var(--clr-text);
          font-weight: 600;
      }
      .carousel-item {
          background-image:url(produse.jpg);
          background-size: 100% 100%;
      }
      .content {
          background-color: #12153cb7;
          padding-bottom: 1rem;
      }
  }
  hr {
      border-top: 0.1em solid var(--clr-accent-2);
      width: 90%;
  }
}